[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/home/peder/.local/bin/mailsync
ExecStartPost=/home/peder/.nix-profile/bin/notmuch --config=/home/peder/.config/notmuch/notmuchrc new
